@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  /* ? COLOR */
  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* Gradients */
  --light-slate-blue-background: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);
  --violet-blue-circle: hsla(256, 72%, 46%, 1);
  --persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* ? FONTS */
  --ff-hanken-grotesk: "Hanken Grotesk", sans-serif;
}


html {
  font-size: 62.5%;
  font-family: var(--ff-hanken-grotesk);
}

.container {
  border: 1px solid black;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  margin: 0;
}

.section-result {
  width: 100%;
  border: 1px solid black;
  border-radius: 0 0 25px 25px;
  color: white;
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-result > p:first-of-type {
  font-size: 1.7rem;
  color: var(--light-lavender);
  margin: 25px;
}

.result-circle {
  border: 1px solid black;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, var(--violet-blue-circle), var(--persian-blue-circle));
  justify-content: center;
}

.result-circle p:nth-child(1) {
  font-size: 5rem;
  font-weight: 800;
}

.result-circle p:nth-child(2) {
  font-size: 1.4rem;
  color: var(--light-lavender);
  font-weight: 700;
  opacity: 0.7;
}

.section-summary {
  width: 90%;
}

.section-summary > p {
  text-align: start;
}

.attribute, 
.attribute div {
  display: flex;
}

.attribute {
  border: 1px solid black;
}


@media (min-width: 900px) {
}
